.fav-badge {
  position: relative;
}

.fav-badge__count { 
  background-color: rgb(0, 0, 0);
  width: 20px;
  height: 20px;
  border-radius: 99px;
  position: absolute;
  top: 0%;
  right: 0%;
  left: 70%;
  bottom: 60%;
  

  span {
    text-align: center;
    color: white;
    width: 100%;
    font-weight: 500;
    position: absolute;
    font-size: 16px;
  }
}
.fav-badge {
  position: relative;
  display: inline-block;
}

.fav-badge__icon {
  width: 24px;
  height: 24px;
}

.fav-badge__dot {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 8px;
  height: 8px;
  background-color: #28c840; /* green */
  border: 2px solid white;
  border-radius: 50%;
}
