.photo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.photo-list:after {
  content: "";
  flex: 0 1 30%;
  margin: 5px;
}

@media (max-width: 768px) {
  .photo-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    padding: 8px;
  }

  .photo-list:after {
    display: none;
  }
}