div.photo-list__item {
  margin: 24px;
  margin-top: auto;
  padding: 8px;
  border-width: 0.5px;
  border-color: lightgray;
  border-style: solid;
  border-radius: 8px;
  max-width: fit-content;

  img.photo-list__image {
    user-select: none;
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px 8px 0px 0px;
  }

  div.photo-list__user-details {
    display: flex;

    img.photo-list__user-profile {
      object-fit: cover;
      border-radius: 100%;
      vertical-align: middle;
      margin-right: 8px;
      width: 40px;
      height: 40px;
    }
    
    div.photo-list__user-info {
      margin-top: 5px;
      font-weight: 700;
      font-size: 12px;
      margin-left: 8px;

      div.photo-list__user-location {
        color: #838383;
      }
    }
  }
}

@media (max-width: 768px) {
  div.photo-list__item {
    margin: 0;
    width: 100%;
    max-width: none;
    padding: 4px;

    img.photo-list__image {
      width: 100%;
      height: 120px;
    }

    div.photo-list__user-details {
      img.photo-list__user-profile {
        width: 28px;
        height: 28px;
      }

      div.photo-list__user-info {
        font-size: 10px;
      }
    }
  }
}