.top-nav-bar__topic-list {
  display: flex;
  justify-content: space-evenly; 
  align-items: center; 
  flex-wrap: nowrap; 
  padding: 10px 0; 
  gap: 15px; 
  width: 100%; 
}

.topic-list__item {
  margin: 0; 
}

.topic-list__item span {
  font-size: 18px;
  font-weight: 500;
  color: #2b2b2b;
  text-decoration: none;
  
  &:hover {
    text-decoration: overline;
    color: #111;
  }
}
